.modal-body--confirm-trade
  width 50%
  margin 0 auto

  +below(800px)
    width 80%

  +below(500px)
    width 90%

  form
    margin-top unit * 4

  .field
    margin 0 auto
    width 350px
    margin-bottom unit * 2

  #recaptcha > div > div
    margin 0 auto

  input[type='text']
    width 350px
    color light-text-color

  +below(768px)
    h2
      margin-top (unit * 5)

    .field
      width 90%

    input[type='text']
      width 100%

    form
      margin-top unit * 2

  ::-webkit-input-placeholder
    color rgba(255, 255, 255, 0.5)
  :-moz-placeholder
    color rgba(255, 255, 255, 0.5)
  ::-moz-placeholder
    color rgba(255, 255, 255, 0.5)
  :-ms-input-placeholder
    color rgba(255, 255, 255, 0.5)
