extends ../../../components/layout/templates/index
block vars
  - pageTitle = "Hot Tips"

block body
  .container
    section.news
      include ../../../components/news_list/templates/index

block scripts
  script( src=asset('/assets/news.js') )
