.footer-logo
  include ../../../public/images/gugg_logo.svg
.footer-nav
  ul
    li: a(href="/information") About
    li: a(href="/information/contact") Contact
    li: a(href="/information/contact") Press
    li: a(href="/information/glossary") Glossary
    li: a(href="/information/terms") Terms
    li.logo: a(href="https://www.are.na/azone-futures-market")
      include ../../../public/images/arena-mark.svg
    li.logo: a(href="http://twitter.com/azone-futures-market")
      include ../../../public/images/twitter-logo.svg
.footer-right-credit Website © 2015 The Solomon R. Guggenheim Foundation. All rights reserved.
.footer-arena-credit: a(href="https://www.are.na") Built with Are.na
