.footer-logo
  include ../../../public/images/gugg_logo.svg
.footer-nav
  ul
    li About
    li Contact
    li Press
    li Glossary
    li Terms
.footer-arena-credit Built with Are.na **
.footer-right-credit The Åzone Futures Market is a Guggenheim Exibition