.footer-logo
  a(href="http://www.guggenheim.org/", target="_blank")
    include ../../../public/images/gugg_logo.svg
.footer-nav
  ul
    li: a(href="/overview") About
    li: a(href="/overview/contact") Contact
    li: a(href="/overview/contact") Press
    li: a(href="/overview/glossary") Glossary
    li: a(href="/overview/terms") Terms
    li.logo: a(href="https://www.are.na/azone-futures-market", target="_blank")
      include ../../../public/images/arena-mark.svg
    li.logo: a(href="http://twitter.com/azonemarket", target="_blank")
      include ../../../public/images/twitter-logo.svg
.footer-right-credit Website © 2015 The Solomon R. Guggenheim Foundation. All rights reserved.
.footer-arena-credit: a(href="https://www.are.na", target="_blank") Built with Are.na
