
- pageTitle = 'Futures Market'
block vars

doctype html
html
  head
    title
      | Åzone
      | #{pageTitle}
    link(rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon")
    link( type='text/css', rel='stylesheet', href=asset('/assets/all.css') )
    meta(name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0")
    block styles

  body
    .wrapper
      include ./nav
      include ./modal
      include ./market_status
      main
        include ./flash
        block body
      footer
        include ./footer
      != sharify.script()
      script( src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js" )
      script( src=asset('/assets/layout.js') )
      block scripts
