mixin menu_item()
  if pageTitle != attributes.title
    li: h1: a(href="#{attributes.href}") #[span.is-hidden Åzone] #{attributes.title}

.nav__menu
  h1
    | Åzone
    | #{pageTitle}
  ul
    +menu_item()(title='Futures Market' href='/market')
    +menu_item()(title='News' href='/news')
    +menu_item()(title='Leaderboard' href='/leaderboard')
    li: h1 &nbsp;