- function isActive(path) {
-   var currentPath;
-   path = path.replace(/\/$/, ''); // Strip trailing slash
-   currentPath = sd.CURRENT_PATH.replace(/\/$/, ''); // Strip trailing slash
-   return path === currentPath;
- };
