nav
  h1: a(href="/") Åzone
  ul.nav--right
    if user
      li: em= user.get('username')
      li: strong Å#{user.get('balance')}
      li: a(href="/logout") Log out
    else
      li: a(href="/login") Log in
      li: a(href="/signup") Register