nav
  .nav__left
    h1
      | Åzone
      | #{pageTitle}
    include ./menu
  .nav__mark
    h1: a(href="/") Å
  ul.nav__right
    if user
      li: h1: a(href="/portfolio")= user.get('username')
      li: h1: #[strong= user.get('balance')]Å
    else
      li: h1: a(href="/login") Log in
      li: h1: a(href="/signup") Register