nav
  .nav__left
    h1
      | Åzone
      | #{pageTitle}
    include ./menu
  .nav__mark
    h1: a(href="/") Å

  if user
    include ./user_menu
  else
    ul.nav__right
      li: h1: a(href="/login") Log in
      li: h1: a(href="/signup") Register