.user_menu
  ul.nav__right
    li: h1: a(href="/portfolio")= user.get('username')
    li: h1
      strong=user.get('balance')
      | Å
  .user_menu__overlay
    .user_menu__inner
      .user_menu__portfolio
        a(href="/portfolio") Portfolio
        .user_menu__portfolio-stat
          h2.portfolio-stat__value #{user.get('balance')}Å
          .portfolio-stat__label Cåin
        .user_menu__portfolio-stat
          h2.portfolio-stat__value #{user.get('net_liquidation_value')}Å
          .portfolio-stat__label Net liquidation
      .user_menu__bottom
        a(href="/logout") Sign Out