extends ../../../components/layout/templates/index

block tabs
  +tab('/information/about', 'About')
  +tab('/information/contact', 'Contact')
  +tab('/information/press', 'Press')
  +tab('/information/glossary', 'Glossary')
  +tab('/information/terms', 'Terms')

block body
  include ../../../components/tabs/templates/index

  .container
    block content
