.container--fund
  .contract__copy
    float none
    clearfix()

.fund-top
  min-height 500px
  height calc(100vh \- 200px)
  position relative

  +below(1100px)
    height auto

#fund-circles
  width 600px
  height 600px
  position absolute
  right unit
  bottom unit

  +below(1100px)
    position static
    width 100%
    height auto
    margin-bottom (unit*4)

  .node text
    fill light-text-color
    font-family Atlas Typewriter Regular

.fund-copy
  width 65%
  margin 0 auto
  font-family Work Sans
  > p
    p()
    font-size 1.2rem
  h1, h2, h3, h4
    margin (unit * 2) 0

.fund-contributor
  border-top 2px solid border-color
  width 65%
  margin (unit * 2) auto
  display flex
.fund-contributor__label
  padding unit
  flex 1
  text-align right
  text-transform uppercase
.fund-contributor__copy
  padding unit
  flex 3
  > strong
    text-transform uppercase
  > p
    font-size 0.8rem



