extends ../../../components/layout/templates/index

block vars
  - pageTitle = 'Blog'

block body
  .container--blog
    .blog-posts
      for post in posts.models
        include ./post.jade

    .container
      nav.blog-nav
        if posts.getNextPageUrl()
          a.blog__nav-link(href=posts.getNextPageUrl())=Next
        if posts.getPreviousPageUrl()
          a.blog__nav-link(href=posts.getPreviousPageUrl())=Previous
