.contributer-list
  margin-top unit * 8

.contributor.section-header
  padding unit 0
  border-bottom none

  .section-header__title
    text-align left

    h3
      font-family Work Sans Medium

  .section-header__description
    padding-right 0
    font-family Work Sans Medium

    > p
      font-size 1.2rem

  .contributor-location
    margin-top unit
    font-size 1.2rem

  .contributor-links
    margin-bottom (unit / 2)
    > p
      margin 0
    a
      opacity 0.7
    a:hover
      opacity 1
