.overview--glossary
  .information-pull-quote
    width 80%
    margin 20px auto
    font-size 1.8rem
    text-align center
    margin-top 60px
    margin-bottom 25px

  .information-body
    width 60%
    margin 20px auto
    font-size 1.25rem
    line-height 1.6rem
