break = 768px

.information-pull-quote
  width 80%
  margin unit auto
  font-size 2rem
  +below(break)
    width 95%
    font-size 1.5rem

.information-body
  width 60%
  margin unit auto
  > p
    margin 60px 0
    font-size 1.25rem
  > h3
    margin (unit * 6) 0 (unit * 2) 0
    font-size 1rem
    font-weight bold
    text-transform uppercase
    letter-spacing 1px
    text-align center
  +below(break)
    width 90%
    > p
      line-height 1.25

.information-emphasis
  font-size 1.5rem
  font-weight bold
  line-height 1.5

.information-grid-link
  position relative
  display inline-block
  width calc(50% - 20px)
  margin (unit / 2)
  padding-bottom 30%
  border 1px solid white
  transition border 0.25s
  > span
    position absolute
    top 50%
    left 50%
    text-align center
    transform translate(-50%, -50%)
    color white
    font-weight bold
    text-transform uppercase
    letter-spacing 1px
    font-size 0.9rem
  &:hover
    border-color rgba(white, 0.5)
  +below(break)
    width 100%
    margin (unit / 2) 0
    padding unit
    > span
      position relative
      display block
      width 100%
      top inherit
      left inherit
      transform inherit

.credits-page
  a
    font-family Work Sans SemiBold

@import 'glossary'
@import 'contributers'
