break = 768px

.tabs
  border-bottom 1px solid
  text-align center
  margin-bottom (unit * 3)

.tab
  display inline-block
  text-transform uppercase
  font-weight bold
  letter-spacing 1px
  font-size 0.9rem
  padding (unit / 2)
  border-bottom 5px solid
  margin-bottom -3px

  &.is-inactive
    border-color transparent !important

  +below(break)
    font-size 0.6rem
    letter-spacing 0

body.is-dark
  .tabs
    &, *
      color white
      border-color white
