extends ../../../components/layout/templates/index--dark
block vars
  - showNav = false

block body
  .container.container--sorry
    .v-outer
      .v-inner.is-centered
        h1 Sorry, the Åzone Market is down for maintenance.
        h1 We will resume trading shortly.
