extends ../../../components/layout/templates/index

block vars
  - pageTitle = 'Leaders'
  - bodyClass = 'is-dark'

block tabs
  +tab('/leaderboard/forecasters', 'Forecasters')
  +tab('/leaderboard/influencers', 'Influencers')
  +tab('/leaderboard/activists', 'Activists')

block body
  include ../../../components/tabs/templates/index

  .container
    block content
