.modal-body--choose-news.center
  .choose-news-dialog.center
    .choose-news-dialog--inner
      h4 Add or choose an existing hot tip to make the trade
      h2
        span.capitalize #{transaction}&nbsp;
        strong #{contract.formattedPrice(map[transaction])}&nbsp;
        | of&nbsp;
        strong #{contract.get('title')}&nbsp;
        | based on:
  .choose-news-search
    input(id="choose-news-search-input" placeholder="Add new link or search Åzone" type="text")
  .choose-news-grid
    include ../../news_grid/templates/index
