.callsign__bubble.callsign__bubble--closed
  .callsign__mark
    include ../../../../public/images/A_logo_20px.svg
  h4 Market is currently closed
  .callsign__prompt
    h6 You'll be able to trade again soon
