.nav
  display flex
  justify-content space-between
  align-items center
  position fixed
  top 0
  right 0
  left 0
  z-index z-index-menu
  padding unit * 2

  +below(break)
    padding unit

.nav-cell
  width (100% / 3)
  text-align center
  +below(break)
    width 50%

  &:first-child
    text-align left

  &:last-child
    text-align right

.nav-header
  font-size 1.8rem
  +below(break)
    font-size 1.2rem
    span
      display none
    svg
      width 10px

.nav-mark
  display inline-block
  width 50px
  height @width
  +below(break)
    display none

.nav-sub
  > a
    display inline-block
    font-family work sans
    padding 20px
    text-transform uppercase
    font-size 0.9rem
    transition opacity 0.25s
    &:hover
      opacity 0.5
    +below(break)
      display block
      padding 0
