.list--news
  width 65%
  margin 0 auto

  +below(768px)
    width 100%

.news-divider
  clear both
  border none
  border-bottom 1px solid border-color
  outline none
  height 1px
  margin-top unit

  &:last-child
    display none

.news__item__relative-date
  font-family Work Sans Medium
  font-size 0.8rem

.news__item
  padding unit 0
  position relative

.news__item__title
  font-family Atlas Typewriter Bold

  +below(900px)
    h5()

.news__item__description
  padding-bottom unit * 2

.news__item__meta
  position absolute
  width 100%
  bottom 0

.news__item__callsigns
  position absolute
  bottom 0
  left 0
  .call-sign
    max-width 120px !important

.news__item__source-domain
  position absolute
  bottom 0
  right 0
  color rgba(14,14,37,0.5) !important
  line-height 47px

  &:hover
    color rgba(14,14,37,1) !important
