.call-sign
  position relative
  font-family Work Sans Medium
  float left
  margin-right 8px
  cursor pointer
  &:hover .call-sign__bubble
    display table

.call-sign__id
  padding 8px 16px
  border 1px solid border-color
  border-radius 20px

.call-sign__bubble
  display none
  box-shadow 1px 1px 1px rgba(0,0,0,0.2)
  position absolute
  bottom 103%
  background background-blue-color
  border-radius 2px
  text-align center
  font-family Work Sans Thin

  a.js-make-transaction
    display table-cell
    padding unit * 0.75
    color light-text-color
    border-right 1px solid light-text-color

  a.js-make-transaction:last-child
    border-right none

  label
    color light-text-color
    font-family Work Sans Thin

  a:hover
    color darken(light-text-color, 20%)
