extends index

block vars
  - pageTitle = 'Overview'
  - bodyClass = 'is-dark'

block content
  .information-pull-quote
    | Åzone Futures Market is a Guggenheim online exhibition that enables you to take a position on the future of a world increasingly shaped by emerging technologies.
  .information-body
    h3 EXHIBITION ARCHITECTURE
    p
      | New technologies are challenging our social foundations and destabilizing the ethics, practices, institutions, and worldviews that have structured our collective experience for centuries. The accelerating rate of this flood of transformations exceeds the limits of our capacity to understand the consequences and to create the lives we want to live. We need new cultural forms to help make sense of the situation.
    p.information-emphasis
      | The Guggenheim is testing a new exhibition architecture in the form of an online marketplace that allows visitors to learn about, discuss, and evaluate the effects of technology-driven change.
  .information-body
    h3 CONTRIBUTIONS
    p
      | Creating an exhibition about the effects of technology is not the same thing as exhibiting technology. Understanding the way various technologies change our lives requires an experiential approach. Replacing the physical building with a digital platform turns visitors into users and invites contributors to respond to a dynamic environment.
    p.information-emphasis
      | Interventions by a wide spectrum of contributors—from artists and architects to theorists and strategists—that interpret and manipulate market activity will be introduced over time.
  .information-body
    h3 VALUES
    p
      | Financial markets tend to seed inequality by privileging investors who are well-off and well informed, which incentivizes the hoarding of information. This practice runs contrary to the logic of newly pervasive networking technologies like social media that are loosening attitudes about ownership and the sharing of information.
    p.information-emphasis
      | Åzone Futures Market privileges engagement and skill, and rewards transparency by giving participants who provide the most valuable tips more to invest.
  .information-body
    h3 OBJECTIVE
    p
      | As our planet continues to reveal its limits, we need different systems for determining collective values to drive decisions about the future. Culture has always been a device for constructing meaning and finding common ground. Reorienting the traditional market toward cultural ends is an experimental strategy to test its capacity to transcend profit driven speculation.
    p.information-emphasis
      | Investors who affect the market in ways not limited to earnings will be featured and selected to advise Guggenheim curators on how the market should evolve.
  .information-body
    h3 HISTORY
    p
      | Åzone is pronounced like the word #[em ozone]. The invented term incorporates references to #[em azone], ancient Greek for “without nation,” and to Åland, a unique and autonomous region of Finland (and the site of a Guggenheim-led retreat where this project was initiated).
    p
      | The market opened on October 19, 2015.

    .information-grid-links
      a.information-grid-link( href='/signup' )
        span Sign up to begin investing
      a.information-grid-link( href='/investing' )
        span Explore the futures
      a.information-grid-link( href='/overview/glossary' )
        span Read the glossary
      a.information-grid-link( href='/getting-started/1' )
        span Launch the getting started guide
