extends ../../../components/layout/templates/index
block vars
  - pageTitle = "Information"

block body
  .container.container--static
    section
      h1 Åzone Futures Market is an online Guggenheim exhibition that allows you to take a position on the effects of a world increasingly shaped by emerging technologies.

    section
      p Exhibiting technology is not the same thing as an exhibition about the effects of technology. Understanding the way technologies change our lives requires an experimental approach. To bring this ambition into the museum, the Guggenheim is testing a new exhibition architecture, replacing the physical building with a digital platform that turns visitors into users.

      h2 Interventions to interpret and manipulate market activity by various contributors, from artists and architects to theorists and strategists, will be introduced over time.

    section
      p New technologies are challenging our social foundations and destabilizing the ethics, practices, institutions, and worldviews that have structured our collective experience for centuries. The accelerating rate of this flood exceeds the limits of our capacity to anticipate the consequences and to shape the lives we want to live. We need new cultural forms to help make sense of the long term impacts of our actions.

      h2 New users receive 10,000 cåin (Å), the Åzone currency, to invest in this collective experiment to evaluate the desirability of various possible collective futures.

    section
      p Financial markets increasingly determine the quality of our daily lives, but they privilege the few who are well-informed, incentivizing the hoarding of information. At the same time, networking technologies like social media have become pervasive, loosening common attitudes towards the sharing and ownership of information.

      h2 Åzone Futures Market rewards information transparency by giving those who provide the most valuable trading tips more cåin to invest and influence the market.

    section
      h2 Credits

      p Åzone Futures Market is designed by Studio Folder (Marco Ferrari and Elisa Pasqual; Aaron Gillett; and Alice Longo); developed by Charles Broskoski, Hugo Liu, and Damon Zucconi; and built with #[a(href="https://www.are.na") Are.na]. Sound design is by Daniel Perlin. Contributors are listed on the contributors page.

      p Åzone Futures Market is organized by Troy Conrad Therrien, Curator, Architecture and Digital Initiatives, with Ashley Mendelsohn, Curatorial Assistant, Solomon R. Guggenheim Museum, New York.
