extends index

block vars
  - pageTitle = 'About'
  - bodyClass = 'is-dark'

block content
  .information-pull-quote
    | Holy basil black cumin saffron indian bedellium tree pomegranate seed inknutterminalia chebula green chili pepper sesame seed celery dried ginger cubeb mango extract licorice powder mint mace thymol seed. Garcinia indica black cardamom gumtragacanth corianderseed green cardamom fenugreek seed saffron pulp long pepper aniseed fresh basil freshcoriander alkanet root cloves turmeric nutmeg red chilli capsicum garlic poppy seed? Fennel seed citric acid salt brownmustard seed fenugreek leaf indian bay leaf star anise cumin seed garam masala garcinia gummi-gutta corianderpowder capers. Nigella seed black pepper indian gooseberry.
  .information-body
    h3 Paragraph
    p
      | Peppercorns white pepper thymol seed corianderpowder garam masala cumin seed aniseed mint brownmustard seed ginger green cardamom fennel seed holy basil mustard seed kalpasi. Fresh basil salt charoli saffron pulp long pepper inknutterminalia chebula curry tree orsweet neemleaf sesame seed mace citric acid poppy seed capsicum licorice powder freshcoriander panch phoron mango extract! Nutmeg. Black pepper red chilli black cardamom cinnamon cloves gumtragacanth fenugreek seed radhuni seed garcinia indica garcinia gummi-gutta star anise capers cinnamonbuds sour driedmango powder celery garlic saffron alkanet root?
    p.information-emphasis
      | Tamarind salt fennel seed saffron kalpasi fresh basil. Aniseed peppercorns green chili pepper nigella seed black cardamom brownmustard seed cinnamon gumtragacanth pomegranate seed mint cinnamonbuds licorice powder indian bay leaf holy basil charoli radhuni seed inknutterminalia chebula long pepper? White pepper mace garcinia gummi-gutta fenugreek leaf asafoetida poppy seed. Capsicum black salt ginger corianderpowder red chilli corianderseed curry tree orsweet neemleaf celery citric acid garam masala mustard seed indian gooseberry garlic mango extract four seeds carom seed indian bedellium tree fenugreek seed sour driedmango powder turmeric.

    .information-grid-links
      a.information-grid-link( href='#' )
        span Sign up to begin investing
      a.information-grid-link( href='#' )
        span Explore the futures
      a.information-grid-link( href='#' )
        span Read the glossary
      a.information-grid-link( href='#' )
        span Launch the guide to getting started
