extends index

block vars
  - pageTitle = 'Contact'
  - bodyClass = 'is-dark'

block content
  .information-pull-quote
    | For general inquiries, please e-mail #[a(href="mailto:azone@guggenheim.org") azone@guggenheim.org].
  .information-pull-quote
    | For press inquiries, please contact Sarah Eaton or Molly Stewart of the Solomon R. Guggenheim Foundation at 212 423 3840 or #[a(href="mailto:pressoffice@guggenheim.org") pressoffice@guggenheim.org].
