extends ../../../components/layout/templates/index

block vars
  - pageTitle = 'Contributors'
  - bodyClass = 'is-dark'

block body
  .container.container--contributers
    .information-pull-quote
      | A wide spectrum of contributors–from artists and architects to strategists and theorists–have been invited to intervene in the market to transform its architecture as the activity in it evolves. Once the market has stabilized, new financial instruments, visual analyses, incentives, notifications and hacks like trading robots will be released periodically. New additions will be announced on the Review and added to this page as they are released.

    .contributer-list
      each person, index in contributors
        .contributor.section-header
          .section-header__title
            h3= person.name
          .section-header__description
            p!= markdown(person.bio)
            .contributor-location= person.location
            .contributor-links
              each link in person.links
                != markdown(link)
