extends ../../../components/layout/templates/index

block vars
  - pageTitle = 'Contributers'
  - bodyClass = 'is-dark'

block body
  .container.container--contributers
    .information-pull-quote
      | Artists, architects, designers, scholars and writers have been invited to contribute to the exhibition architecture—the market itself—and the content simultaneously. Once the market has stabilized, new financial instruments, visual analyses, incentives, notifications and market hacks like trading robots will be released periodically. Invited participants will be announced and added to this page as their contributions are released.

    .contributer-list
      each person, index in contributors
        .contributor.section-header
          .section-header__title
            h3= person.name
          .section-header__description
            p= person.bio
            p= person.location
            .contributor-links
              each link in person.links
                != markdown(link)
