extends index

block vars
  - pageTitle = 'Overview'
  - bodyClass = 'is-dark'

block content
  .information-pull-quote
    | Designed by #[strong#[a(href="http://www.studiofolder.it/" Studio Folder]] (#[strong Marco Ferrari] and #[strong Elisa Pasqual]; #[strong Aaron Gillett]; and #[strong Alice Longo]); developed by #[strong Charles Broskoski] and #[strong Hugo Liu] with #[strong Dan Brewster] and #[strong Damon Zucconi]; and built with #[strong#[a(href="https://www.are.na/" Are.na]]. Sound design is by #[strong Daniel Perlin].
    | Organized by #[strong Troy Conrad Therrien], Curator, Architecture and Digital Initiatives, with #[strong Ashley Mendelsohn], Curatorial Assistant, Solomon R. Guggenheim Museum, New York.
