extends index

block vars
  - pageTitle = 'Overview'
  - bodyClass = 'is-dark'

block content
  .credits-page
    .information-pull-quote
      | Designed by #[a(href="http://www.studiofolder.it/") Studio Folder] (#[strong Marco Ferrari] and #[strong Elisa Pasqual]; #[strong Aaron Gillett]; and #[strong Alice Longo]); developed by #[strong Charles Broskoski] and #[strong Hugo Liu] with #[strong Dan Brewster] and #[strong Damon Zucconi]; and built with #[a(href="https://www.are.na/") Are.na]. Sound design by #[strong Daniel Perlin], and #[em Åzone Terminal]’s mechanical terminal by #[a(href="http://pietroleoni.com/") Pietro Leoni].
    .information-pull-quote
      | Organized by #[strong Troy Conrad Therrien], Curator, Architecture and Digital Initiatives, with #[strong Ashley Mendelsohn], Curatorial Assistant, #[strong Solomon R. Guggenheim Museum, New York].
    br
    .information-small-quote
      h3 Åzone currency symbol (Å) and Work Sans Typeface by #[a(href="https://github.com/weiweihuanghuang/Work-Sans") Wei Huang].
      h3 Atlas Typewriter typeface by #[a(href="http://carvalho-bernau.com/atlas/") Carvalho-Bernau].
