extends index

block vars
  - pageTitle = 'Glossary'
  - bodyClass = 'is-dark'

block content
  .information-pull-quote
    | Åzone
  .information-body
    | Pronounced like the word ozone, the invented term incorporates references to azone, an ancient Greek word meaning “without nation,” and to Åland, a unique and autonomous region of Finland (and the site of a Guggenheim-led retreat where this project was initiated).
  .information-pull-quote
    | Activist
  .information-body
    | One of the top 50 investors in terms of total trades executed.
  .information-pull-quote
    | Buy Price
  .information-body
    | The amount of cåin it costs to purchase one share of a future.
  .information-pull-quote
    | Cåin (Å)
  .information-body
    | Pronounced like the word coin, and denoted by the symbol Å, it is the local currency of the Åzone Futures Market.
  .information-pull-quote
    | Contributor
  .information-body
    | Invited artists, architects, designers, theorists, writers and others who have contributed to or intervened in the architecture of the market in various ways.
  .information-pull-quote
    | Cover
  .information-body
    | Buying a future to cover a short.
  .information-pull-quote
    | Forecaster
  .information-body
    | One of the top 50 investors in terms of net worth.
  .information-pull-quote
    | Fund
  .information-body
    | Either fixed or actively managed portfolios by contributors from the perspective of contemporary worldviews that are conditioning our future.
  .information-pull-quote
    | Future
  .information-body
    | Technology-enabled potential future conditions that until recently were confined to prototypes or science fiction.
  .information-pull-quote
    | Hot Tip
  .information-body
    | A reason for making a trade on a particular future in the form of a link to information on the web, often to breaking news.
  .information-pull-quote
    | Hot Tip Reward
  .information-body
    | A reward of 50Å given to an investor who introduces a hot tip every time another investor uses it to make a trade.
  .information-pull-quote
    | Index
  .information-body
    | A two-dimensional field used to visualize trends in the entire market based on tradeoffs in the effects of each future.
  .information-pull-quote
    | Investor
  .information-body
    | An Åzone Futures Market user.
  .information-pull-quote
    | Influencer
  .information-body
    | One of the top 50 investors in terms of total hot tip rewards received.
  .information-pull-quote
    | Leader
  .information-body
    | The top influencers, activists or forecasters.
  .information-pull-quote
    | Net Worth
  .information-body
    | The total current value of an investor’s portfolio and their cash balance.
  .information-pull-quote
    | Portfolio
  .information-body
    | All of the futures owned by an investor.
  .information-pull-quote
    | Sell Price
  .information-body
    | The amount of cåin you will receive when selling one share of a future.
  .information-pull-quote
    | Short
  .information-body
    | A bet that the price of a future will go down by selling a future that an investor does not own with the intention of later buying the same future to cover the short. Shorting is only available to investors with a net worth over 15,000Å as it is an advanced and dangerous activity that can result in unbounded losses if prices increase.
  .information-pull-quote
    | Trade
  .information-body
    | Buying, selling or shorting a future by an investor.
