extends index

block vars
  - pageTitle = 'Overview'
  - bodyClass = 'is-dark'

block content
  .overview--glossary
    .information-pull-quote
      | Åzone
    .information-body
      | Pronounced like the word #[em ozone]. The invented term incorporates references to #[em azone], ancient Greek for “without nation,” and to Åland, a unique and autonomous region of Finland (and the site of a Guggenheim-led retreat where this project was initiated).
    .information-pull-quote
      | Activist
    .information-body
      | One of the top 50 investors in terms of total trades executed.
    .information-pull-quote
      | Buy Price
    .information-body
      | Amount of cåin it costs to purchase one share of a future.
    .information-pull-quote
      | Cåin (Å)
    .information-body
      | Pronounced like the word “coin” and denoted by the symbol Å, it is the currency of #[em Åzone Futures Market].
    .information-pull-quote
      | Contributor
    .information-body
      | Invited artists, architects, designers, theorists, writers, and others who have contributed to or intervened in the architecture of the market.
    .information-pull-quote
      | Cover
    .information-body
      | Buying a future to cover a short.
    .information-pull-quote
      | Forecaster
    .information-body
      | One of the top 50 investors in terms of net worth.
    .information-pull-quote
      | Fund
    .information-body
      | Either fixed or actively managed portfolios assembled by contributors that reflect the positions of contemporary worldviews that are conditioning our future.
    .information-pull-quote
      | Future
    .information-body
      | Technology-enabled potential future conditions that until recently were confined to prototypes or science fiction.
    .information-pull-quote
      | Hot Tip
    .information-body
      | Reason for making a trade on a particular future in the form of a link to information online, often to breaking news.
    .information-pull-quote
      | Hot Tip Reward
    .information-body
      | Reward of 50Å given to an investor who introduces a hot tip every time another investor in turn uses that information to make a trade.
    .information-pull-quote
      | Index
    .information-body
      | Two-dimensional field used to visualize trends in the entire market, based on tradeoffs in the effects of each future.
    .information-pull-quote
      | Influencer
    .information-body
      | One of the top 50 investors in terms of total hot tip rewards.
    .information-pull-quote
      | Investor
    .information-body
      | #[em Åzone Futures Market] user.
    .information-pull-quote
      | Leader
    .information-body
      | Top influencer, activist, or forecaster.
    .information-pull-quote
      | Net Worth
    .information-body
      | Total current value of an investor’s portfolio and cash balance.
    .information-pull-quote
      | Portfolio
    .information-body
      | All futures owned by an investor.
    .information-pull-quote
      | Sell Price
    .information-body
      | Amount of cåin received when selling one share of a future.
    .information-pull-quote
      | Short
    .information-body
      | A bet that the price of a future will go down by selling a future that an investor does not own with the intention of later buying the same future to cover the short. Shorting is only available to investors with a net worth over 15,000Å as it is an advanced and risky activity that can result in unbounded losses if prices increase.
    .information-pull-quote
      | Trade
    .information-body
      | Buying, selling, or shorting a future by an investor.
