extends ../../../components/layout/templates/index

block tabs
  +tab('/overview/about', 'About')
  +tab('/overview/glossary', 'Glossary')
  +tab('/overview/contact', 'Contact')
  +tab('/overview/credits', 'Credits')
  +tab('/overview/terms', 'Terms')

block body
  include ../../../components/tabs/templates/index

  .container
    block content
