extends index

block vars
  - pageTitle = 'Overview'
  - bodyClass = 'is-dark'

block content
  .information-pull-quote
    | Introduction
  .information-body
    p
      | The Solomon R. Guggenheim Foundation (the “Guggenheim”) provides #[a(href="mailto:azone.guggenheim.org") azone@guggenheim.org] and its related services, including RSS feeds, mobile websites and mobile applications (such services, collectively, referred to herein as the “Site”), in support of its charitable and educational mission to collect, preserve, and interpret modern and contemporary art, and explore ideas across cultures through dynamic curatorial and educational initiatives and collaborations.  With its constellation of architecturally and culturally distinct museums, exhibitions, publications, and digital platforms, the Guggenheim engages both local and global audiences.  We encourage you to use the Site as a research and information tool, subject to the specific terms and conditions of use (the “Terms and Conditions of Use”) set forth below.
  .information-pull-quote
    | Acceptance of Terms and Conditions
  .information-body
    p
      | BY ACCESSING THE SITE, INCLUDING BY DOWNLOADING, INSTALLING OR OTHERWISE USING ANY RELATED GUGGENHEIM MOBILE APPLICATION, YOU ACCEPT WITHOUT LIMITATION OR QUALIFICATION THESE TERMS AND CONDITIONS OF USE. THE GUGGENHEIM MAY REVISE THESE TERMS AND CONDITIONS OF USE AT ANY TIME, WHICH REVISIONS SHALL BIND YOU. IF YOU DO NOT WISH TO BE BOUND BY THESE TERMS AND CONDITIONS, PLEASE EXIT THE SITE NOW AND REFRAIN FROM FURTHER USE.
  .information-pull-quote
    | Protection of Privacy
  .information-body
    h3 Collection of Information by the Guggenheim
    p
      | You will have the opportunity to participate in the Åzone Futures Market on the Site.  If you choose to participate, the Guggenheim will request personally identifying information, including username, e-mail address, gender identity, age and other data; record your preferences on the Åzone Futures Market; and collect your IP address (collectively, the “Personal Data”).  Alternatively, you may be permitted to use your username and other log-in details from your social-media accounts, including Facebook and Twitter, to participate in the Åzone Futures Market on the Site.  If you do not agree to the collection of your Personal Data, please do not participate in the Åzone Futures Market on the Site.  Please note that the Åzone Futures Market is not specifically designed to be used by children.  If you are under the age of 13, please obtain permission from your parent or guardian before participating.
    p
      | In addition, you will have the opportunity to subscribe to e-newsletters about the Åzone Futures Market.  If you choose to subscribe, the Guggenheim will request such information, including Personal Data, as is necessary to process your subscription.  You may subscribe or unsubscribe at any time by following the associated instructions.
    p
      | Finally, the Guggenheim may offer Site visitors the opportunity to submit content.  If you choose to submit, the Guggenheim will request such information, including Personal Data, as is necessary for such participation.  See “User-Generated Content.”
    p
      | When providing your Personal Data in the ways identified above, your Personal Data may be used as set forth below.  See “Use of Personal Data by the Guggenheim” and “Sharing of Personal Data with Others.”
    h3 Cookies
    p
      | The Guggenheim uses "cookies" (i.e., a small text file that is sent to your browser from the Site) to improve your return access and visits to the Site. The Guggenheim may use cookies to collect IP addresses, customize content and analyze Site activity and user behavior. The Guggenheim reserves the right to use cookies in the future in conjunction with new or extended functionalities.
    p
      | You may set your browser to notify you when you receive a cookie (letting you choose whether to accept it) or to disallow cookies altogether, without preventing your access to the Site.
    h3 Use of Personal Data by the Guggenheim
    p
      | By participating in the Åzone Futures Market and providing your Personal Data, you agree that your Personal Data will be used, in both aggregated and disaggregated form, for internal purposes, including analyzing trends and collecting statistics in the context of the Åzone Futures Market. You also agree to have your Personal Data collected from the Åzone Futures Market adapted, reproduced, displayed and otherwise used in a Åzone Futures Market visualization that will be publicly accessible online and in a physical installation at 159 John Street, New York, N.Y., from October 23 to December 31, 2015, and may be adapted, reproduced, displayed and otherwise used in connection with Guggenheim programs, in any media, by the Guggenheim and third parties. By providing your Personal Data and participating in the Åzone Futures Market, a link to your results will be sent to you.
    p
      | In addition, the Guggenheim may use your Personal Data for Guggenheim marketing and promotional purposes. For example, the Guggenheim may notify you of events, programs, special offers and promotions related to the Guggenheim Museum that we think might be of interest to you. We may also request your participation in surveys. If you do not want us to use your Personal Data to contact you for these purposes, please follow the instructions in “Do Not Contact” below.
    h3 Sharing of Personal Data with Others
    p
      | The Guggenheim may share your Personal Data, as collected under the circumstances outlined above, with other reputable organizations, such as other nonprofits, art institutions and media companies.
    p
      | The Guggenheim has teamed up with reputable third-party service providers in order to provide certain services to its online users and allow us to better respond to the needs of our visitors. The Guggenheim requires its vendors to maintain the confidentiality and security of the information to which they are provided access, and restricts these service providers from using the information in any way without express authorization by the Guggenheim.
    h3 Linking to third parties
    p
      | The Site may include links to websites operated by third parties over which the Guggenheim has no control. Once you leave the Site, this Privacy Policy will no longer apply, and you will be subject to the third party’s privacy policy. For example, the Guggenheim may use third-party service providers such as Facebook and Twitter to give you ways to participate in the Åzone Futures Market on the Site or share our content with others. The information you provide when using these tools is subject to these third parties’ privacy policies. The Guggenheim is not responsible for the privacy or security practices or the content of third-party websites, and such links are not an endorsement of the third party website or its content.
    h3 Do Not Contact
    p
      | If you do not want to be contacted by the Guggenheim or if you do not want the Guggenheim to share your Personal Data, please let us know by writing to #[a(href="mailto:donotcontact@guggenheim.org") donotcontact@guggenheim.org] or to the following address:
    p
      | The Solomon R. Guggenheim Foundation <br />
      | 345 Hudson Street, 12th Floor <br />
      | New York, N.Y. 10014 <br />
      | Attn: Marketing – Do Not Contact List

  .information-pull-quote
    | User-Generated Content
  .information-body
    p
      | Any communication or material you post, transmit or distribute to the Site by electronic mail or otherwise, including any images, data or other content, questions, comments, suggestions, or the like, is and will be treated as nonconfidential and nonproprietary. Anything you transmit or post may be used by the Guggenheim and its affiliates for any purpose, including but not limited to reproduction, disclosure (to law-enforcement entities or others), transmission, publication, broadcast and posting. Furthermore, the Guggenheim is free to use any ideas, concepts, know-how or techniques contained in any communication you send to the Site for any purpose whatsoever including but not limited to developing, manufacturing and marketing products using such information.
    p
      | The Guggenheim may at times provide forums on the Site for the exchange of ideas and information by participants. By participating in or contributing to any such interactive feature of the Site, you agree in addition to be bound by any rules posted by the Guggenheim in connection with such feature. By posting or distributing information, materials or modifications to the Site, you expressly abandon any proprietary rights you may have therein, and you agree that such information, materials, or modifications may be freely used, copied  and distributed by others, without your permission, in any medium throughout the world. To the extent you wish to post or distribute information, materials or modifications to the Site that you do not own, the Guggenheim requires you to obtain any necessary permissions from the third-party owners before doing so. You acknowledge and agree that you will not upload, distribute or otherwise post or link to any information, materials or modifications to the Site that are libelous, defamatory, threatening, abusive, obscene or unlawful, or that encourage a criminal offense; contain any viruses or other code, file or program that is designed to interrupt, destroy or limit the functionality of any computer software, hardware or telecommunications equipment; infringe the copyright or other proprietary rights of any third party; or contain any advertising, promotional or solicitation material. You acknowledge that any submission you make to the Site (including without limitation comments, forum messages, audio, video or photographs) may be edited, removed, modified, altered, or changed, including in a manner not agreeable to you.  The Guggenheim specifically reserves the right to delete, move or edit submissions that, in its sole discretion, it deems offensive, abusive, defamatory, obscene or off topic as well as submissions that the Guggenheim believes may violate copyright laws or trademark laws or are otherwise unacceptable. The Guggenheim cannot and does not review every submission to the Site and is not responsible for the content of such messages.
  .information-pull-quote
    | Trademarks
  .information-body
    p
      | The names, titles, building images, trademarks, service marks and logos that appear on the Site are registered and unregistered marks of the Guggenheim, including but not limited to SOLOMON R. GUGGENHEIM MUSEUM, GUGGENHEIM MUSEUM, GUGGENHEIM AND THE EXTERIOR AND INTERIOR BUILDING IMAGES OF THE SOLOMON R. GUGGENHEIM MUSEUM (collectively, the “Guggenheim Trademarks”). You may not use the Guggenheim Trademarks without the Guggenheim's prior, written permission.
    p
      | The trademarks of third parties may also appear on the Site from time to time; you may not use these trademarks without the prior written permission of their respective owners. You acknowledge and agree that nothing on the Site grants, expressly or implicitly, by estoppel or otherwise, any right or license to use any of the Guggenheim Trademarks or may be construed to mean that the Guggenheim has authority to grant any right or license on behalf of any third-party trademark owner.
  .information-pull-quote
    | Copyrights
  .information-body
    p
      | The images, artworks, text, data, files, audio and video clips, illustrations, designs and documentation (in whole or in part, the “Content”), which appear on the Site, as well as the collection, arrangement and assembly of the Content (the “Compilation”), are either proprietary to the Guggenheim or used in accordance with applicable law or third-party consents.
    p
      | You may not reproduce, distribute, display, transmit, modify, perform, adapt, generate derivative works of or otherwise use the Content or the Compilation without the prior written permission of the Guggenheim unless your use qualifies as (1) Fair Use or another legislative exemption or (2) Special Permission for Educators, all of which are further described below.
    h3 Fair Use and Other Exemptions
    p
      | The Guggenheim does not object to your reproduction, distribution, display, transmission, performance and use of the Content and/or Compilation if done in accordance with 17 U.S.C. §107 (“Fair Use”), 17 U.S.C. §110 (the Teach Act), or other applicable limitations and exemptions set forth in the U.S. Copyright Act and related laws.
    p
      | Unless otherwise noted on a particular page or section of the Site, no express permission is required from the Guggenheim for use that falls within Fair Use or another legislative exemption, but two conditions apply: 1) No modifications may be made as to the integrity or attribution of the Content and Compilation; and 2) All copies of the Content and Compilation must bear accurate identifying information, including proprietary collection information, credit lines, copyright and trademark notices and a citation to the Site.
    h3 Beyond Fair Use: Special Permission for Educators
    p
      | The Guggenheim recognizes that not every educational use qualifies for Fair Use or another legislative exemption. In order to further support the work of teachers and other educators, in accordance with our own charitable and educational mission, we therefore consent to the following additional uses of the Site:
    p
      | Subject specifically to the rights of third parties (which permissions are entirely the user’s responsibility to obtain), the Guggenheim consents to the reproduction, distribution, display, transmission, performance and use of the Content and Compilation by individual teachers and other educators if done for the limited purpose of classroom or workshop instruction (including online instruction) in a school, museum or other educational organization; provided, however, that such organization is a not-for-profit corporation and provided, further, that the Content and Compilation are not sold or otherwise commercially distributed. This provision does not apply to corporations who package, prepare or sell educational materials for teachers and educators.   Unless otherwise noted on a particular page or section of the Site, no express permission is required by the Guggenheim for the Special Permission for Educators, but two conditions apply: 1) No modifications may be made as to the integrity or attribution of the Content and Compilation; and 2) All copies of the Content and Compilation must bear accurate identifying information, including proprietary collection information, credit lines, copyright and trademark notices and a citation to the Site.
  .information-pull-quote
    | Requesting Permission
  .information-body
    p
      | If your proposed use of the Guggenheim Trademarks or Content does not meet the conditions for Fair Use or another legislative exemption or Special Permission for Educators, you must request and obtain the express, prior permission of the Guggenheim. Please be advised that the Guggenheim is selective in granting such permission.
    h3 Editorial Use of the Guggenheim’s Text and Other Content
    p
      | The Guggenheim does not entertain requests for permission to reproduce or otherwise use text, design, audio and video components from the Site; however, links to the Site are permitted as described in Links to the Site below.
    h3 Use of Third-Party Trademarks and Images
    p
      | If you wish to reproduce or otherwise use trademarks and/or copyrighted images that appear on the Site but do not belong to the Guggenheim, you should contact the third parties who are referenced as the rights holders. The Guggenheim assumes no responsibility for ascertaining whether such rights are valid or for securing such rights on your behalf.
  .information-pull-quote
    | Reservation of Rights
  .information-body
    p
      | All rights not expressly granted by the Guggenheim herein are specifically and completely reserved. Nothing on the Site or in these Terms and Conditions of Use grants, expressly or implicitly, by estoppel or otherwise, any right or license to use any content or property of any third party, or may be construed to mean that the Guggenheim has authority to grant any right or license on behalf of any third party.
  .information-pull-quote
    | Links to the Site
  .information-body
    p
      | The Guggenheim appreciates the interest of others in linking to the Site. If you arrive at the Site from a third-party link, please note that a link to the Site does not imply a relationship with, or endorsement of, the third-party site or its content, purpose, policies or business practices.
    p
      | If you are interested in providing a link from your site to the Site, please note the following rules:
    p
      | 1. You must use the name Åzone Futures Market and the particular URL azone.guggenheim.org to identify the link.  <br />
      | 2. You may not use the Guggenheim Museum logo or building image without the express permission of the Guggenheim. <br />
      | 3. We do not permit unauthorized framing of pages on the Site.
  .information-pull-quote
    | Links from the Site
  .information-body
    p
      | In using the Site, you may find that the Guggenheim provides hyperlinks to one or more third-party websites (the “Linked Sites”). The Guggenheim provides these links as a convenience for you and other users but is not responsible for the content of, or links to and from, the Linked Sites. Although the Guggenheim expects such links to be reputable, relevant and reliable, we do not actively monitor or control the content or links of the Linked Sites, which may continuously change. We encourage you to read the terms and conditions and similar policies of the respective Linked Sites, should you choose to visit them. A link from the Site does not imply a relationship with, or endorsement of, the Linked Site(s) or its content, purpose, policies or business practices.
  .information-pull-quote
    | Warranty and Indemnification
  .information-body
    p
      | By using this Site in any manner, you represent and warrant that your use will be consistent with the Terms and Conditions, including Fair Use and the Special Permission for Educators described above. You agree to indemnify, defend and hold the Guggenheim harmless from all claims, causes, costs, expenses, fees (including reasonable attorneys’ fees), judgments, liabilities, losses and damages arising from or relating to your use of the Site.
  .information-pull-quote
    | Disclaimer of Warranties
  .information-body
    p
      | THE GUGGENHEIM PROVIDES THE SITE ON AN "AS IS" BASIS. YOUR USE OF THE SITE, CONTENT AND COMPILATION IS AT YOUR OWN RISK. THE GUGGENHEIM DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, COPYRIGHT OWNERSHIP, AND/OR NONINFRINGEMENT OF COPYRIGHTS OR OTHER THIRD-PARTY PROPRIETARY RIGHTS. THE GUGGENHEIM DOES NOT WARRANT THAT THE SITE WILL PROVIDE CONTINUOUS, PROMPT, SECURE OR ERROR-FREE SERVICE. THE GUGGENHEIM MAKES REASONABLE, ONGOING EFFORTS TO REVISE AND UPDATE THE SITE BUT ASSUMES NO LIABILITY FOR ANY ERRORS OR OMISSIONS, INCLUDING THE INACCURACY OF CONTENT, OR FOR ANY DAMAGES OR LOSSES THAT YOU OR ANY THIRD PARTY MAY INCUR AS A RESULT OF THE UNAVAILABILITY OF THE SITE. THE GUGGENHEIM ASSUMES NO RESPONSIBILITY AND SHALL NOT BE LIABLE FOR ANY DAMAGE TO YOUR COMPUTER EQUIPMENT, DATA OR OTHER PROPERTY ARISING FROM YOUR USE OF THE SITE, WHETHER DUE TO A COMPUTER VIRUS OR OTHERWISE.
  .information-pull-quote
    | Limitation of Liability
  .information-body
    p
      | NEITHER THE GUGGENHEIM, ITS AFFILIATES, TRUSTEES, DIRECTORS, OFFICERS, SPONSORS, COLLABORATORS, EMPLOYEES, NOR AGENTS SHALL HAVE ANY LIABILITY FOR ANY DAMAGES, INCLUDING WITHOUT LIMITATION, ANY DIRECT, INDIRECT, INCIDENTAL, COMPENSATORY, PUNITIVE, SPECIAL OR CONSEQUENTIAL DAMAGES (EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES) ARISING FROM OR RELATED TO YOUR USE OF THE SITE, CONTENT AND/OR COMPILATION.
  .information-pull-quote
    | Severance and Waiver
  .information-body
    p
      | You acknowledge and agree that in the event any provision of these Terms and Conditions of Use shall be held by a court of competent jurisdiction to be invalid, unlawful or unenforceable, in any respect, the validity, legality and/or enforceability of the remaining terms and conditions contained herein shall not in any way be affected or impaired thereby. In such event, the parties agree that any such invalid term or condition shall be validly reformed by the court to as nearly approximate the intent of the parties as possible, and if unreformable, shall be severed and deleted from these Terms and Conditions of Use. The Guggenheim's failure to exercise or enforce any right or provision of these Terms and Conditions shall not constitute a waiver of such right or provision unless agreed to in writing by the Guggenheim.
  .information-pull-quote
    | Venue and Choice of Law
  .information-body
    p
      | These Terms and Conditions of Use and any counterparts, amendments or revisions thereto shall be governed by and construed in accordance with the laws of the State of New York, without regard to principles of conflicts of laws. Any case, controversy, suit, action or proceeding arising out of, in connection with, or related to these Terms and Conditions of Use shall be brought in any federal or state court located in New York County and the State of New York, and the parties hereby waive any objection that they may have to personal jurisdiction in these courts.
    p
      | © 2015 The Solomon R. Guggenheim Foundation, New York. All rights reserved.
