section.about
  .container
    .section-header--span
      | #[em Åzone Futures Market] is a Guggenheim online exhibition that enables you to take a position on the future of a world increasingly shaped by emerging technologies.&nbsp;
      a(href="/overview") Read more
      br
      br
      | Sign up and receive 10,000Å of Åzone currency to invest in a dynamic market of future conditions.

  .about--ticker
    include ../../../components/contract_marquee/index


