section.blog
  .section-header
    .section-header__title Review
    .section-header__description
      | Read the review for regular updates, including announcements about interventions by various contributors—from artists and architects to theorists and strategists—after the early days of rapid price fluctuations have stabilized.
      br
      a(href="/") See all contributors
