section.blog
  .section-header
    .section-header__title Blog
    .section-header__description
      | Follow the blog for regular updates as these early days of the market will be quite unstable. Once prices settle, interventions by various contributors, from artists and architects to theorists and strategists, will be announced.
      br
      a(href="/") Go to blog
