section.blog
  .container
    .section-header
      .section-header__title Contributors
      .section-header__description
        | A wide range of contributors—from artists and architects to theorists and strategists—will periodically intervene in the market to transform its architecture.
        br
        a(href="/contributors") See all contributors

    .home-contributors-list
      for person, index in contributors
        - random = (Math.random() * 20) - 10
        .home-contributor.js-gain-color(data-gain=random)= person.name
