section.futures
  .section-header
    .section-header__title Futures
    .section-header__description
      | Sign up and receive 10,000 cåin (Å), the Åzone currency, to take a position on the future world you would like to live in by investing in the market.
      br
      a(href="/market") See all futures
