extends ../../../components/layout/templates/index

block body
  .container
    .list-group.list-group--contracts
      each contract in contracts
        .list-group-item
          h1= contract.get('title')
          h2= contract.get('contract')