extends ../../../components/layout/templates/index
block vars
  - pageTitle = 'Futures Market'
  - wrapperClass = 'wrapper--post-footer'
block body
  .landing-outer
    include ../../../components/index_heatmap/index
  .landing-overlay-outer
    h2
      | The future is
      br
      strong looking #{statement}
      br
      | than yesterday

  include ./about.jade
  include ./futures.jade
  include ./news.jade
  include ./blog.jade
  include ./leaderboard.jade

block post_footer
  include ../../../components/footer_signup/templates/index

block scripts
  script( src=asset('/assets/home.js') )
