section.leaderboards
  .section-header
    .section-header__title
    .section-header__description
      | Make an impact in the market as a top forecaster, influencer or activist and you may be profiled on the blog and invited to advise on upcoming Guggenheim programs.
      br
      a(href="/leaderboard") See leaderboards
