section.leaderboards
  .container
    .section-header
      .section-header__title Leaders
      .section-header__description
        | Become a top influencer, activist, or forecaster, and you may be profiled on the #[em Åzone Review] and invited to advise on upcoming Guggenheim programs.
        br
        a(href="/leaderboard") See leaderboards
