section.leaderboards
  .section-header
    .section-header__title
    .section-header__description
      | Make an impact on the market as a top influencer, activist, or forecaster, and you may be profiled on the blog and invited to advise on upcoming Guggenheim programs.
      br
      a(href="/leaderboard") See leaderboards
