#index-heatmap.index-heatmap
#index-heatmap-key.index-heatmap-key
  .heatmap-key.heatmap-key__x1: h5
  .heatmap-key.heatmap-key__x2: h5
  .heatmap-key.heatmap-key__y1: h5
  .heatmap-key.heatmap-key__y2: h5