.confirm-transaction
  &:first-letter
    text-transform capitalize

.contract__about
  color light-text-color
  padding 0 unit * 2

.container--contract
  background background-grey-color

.contract__callsign
  width 10%
  float left
  margin-right unit

  .call-sign__id
    border-color light-text-color
    font-size 1.4rem

.contract__copy
  width 50%
  float left
  font-size 1.2rem
  vertical-align top

  h2
    margin-top 0
    font-family Atlas Typewriter Bold

.contract__meta
  margin-top (unit * 2)

.contract__meta__label
  font-size 1rem

.contract__value
  float left
  margin-right (unit * 2)

  h3
    margin-top 0

.contract__tick-chart
  margin-top -(unit * 4)
  padding-top (unit * 6)
  margin-bottom unit * 3

  &.stuck
    width 100%
    position fixed
    padding-top (unit * 10)
    padding-bottom unit
    top 0
    z-index z-index-menu - 1

  circle
    display none

.contract--transactions
  margin (unit * 2) 0

.contract__news
  padding-top (unit * 2)

.news__item__title
  font-family Atlas Typewriter Bold

.list-group--blocks
  .list-group-item p
    display none

  .list-group-item h1
    padding 4px 0

  .list-group-item.is-active p
    display block

  .list-group-item.is-active h1
    border-bottom 1px solid #eee

.container--order
  height 100%

.container--order__confirm
  vertically-align()
