.modal-body--tip
  padding (unit * 3)
  color text-color
  font-size 1.2rem

.tip-item
  clearfix()
  border-bottom 1px solid border-color
  width 85%
  margin 0 auto
  padding-bottom unit

.tip-transactions
  width 45%
  margin unit auto 0

.transaction
  margin 0 0 unit
  padding 0 0 unit
  border-bottom 1px solid border-color
  a
    font-family Work Sans SemiBold

  .transaction-comment, .transaction-date
    padding-top (unit)

  .transaction-date
    opacity 0.5
