.callsign__bubble
 text-align center
 width 140px
 height 230px
 position relative
 border-radius 10px

 > h6
   font-size 0.7rem

.callsign__title
  font-family Atlas Typewriter Bold
  padding-bottom (unit / 2)
  font-size 0.8rem

.callsign__gain
  font-size 0.7rem

.callsign__transactions
  position absolute
  bottom 0
  width 100%

.js-make-transaction
  clearfix()
  display block
  height 50px
  border-top 1px solid rgba(255,255,255,0.2)

  &:hover
    background-color rgba(255,255,255,0.05)

  h6
    float left
    color light-text-color
    margin 0
    line-height 50px
    padding-left (unit / 2)

  h3
    float right
    color light-text-color
    margin 0
    line-height 50px
    font-family Work Sans Light
    padding-right (unit / 2)

.tooltipster-azone
  border-radius 10px
  color light-text-color
  border 1px solid transparent

  .tooltipster-arrow-border
    margin-top -2px !important
