.confirm-transaction
  &:first-letter
    text-transform capitalize

.contract--transactions
  margin (unit * 2) 0

.list-group--blocks
  .list-group-item p
    display none

  .list-group-item h1
    padding 4px 0

  .list-group-item.is-active p
    display block

  .list-group-item.is-active h1
    border-bottom 1px solid #eee


