.container--contract
  flexbox(flex)

.contract-info
  flex(30%, 1)
  padding-right 5%

.list-group--blocks
  flex(60%, 1)

  .list-group-item p
    display none

  .list-group-item h1
    padding 4px 0

  .list-group-item.is-active p
    display block

  .list-group-item.is-active h1
    border-bottom 1px solid #eee


