.modal-body--choose-news
  background-color background-grey-color
  min-height 100%

.choose-news-dialog
  height 400px
  width 100%
  background-color background-blue-color

.choose-news-dialog--inner
  position relative
  height 100%
  h4
    padding-top unit
  h2
    vertically-align()
    top 35%

.choose-news-grid
  clearfix()
  padding 3%
  height auto

.choose-news-search
  padding-top unit

#choose-news-search-input
  background-color transparent
  border none
  border-bottom 2px solid border-color
  width unit * 20
  outline none
  color text-color

  ::-webkit-input-placeholder
    color text-color
  :-moz-placeholder
    color text-color
  ::-moz-placeholder
    color text-color
  :-ms-input-placeholder
    color text-color
