extends ../../../components/layout/templates/index

block vars
  - bodyClass = 'is-dark'

block tabs
  +tab("/portfolio/" + account.id, "portfolio")
  if account.id == user.id
    +tab("/portfolio/" + account.id + "/alerts", "alerts")
    +tab("/portfolio/" + account.id + "/goods", "goods")

block body
  include account-top
  include ../../../components/tabs/templates/index

  .choose-goods.center
    .choose-goods-grid
      .grid.grid--goods
        for good in goods
          include item.jade
