extends ../../../components/layout/templates/index
block vars
  - pageTitle = 'Portfolio'
block body
  .container.container--portfolio
    table.portfolio-list.is-large
      thead
        tr
          td
          td Current Price
          td Purchase Price
          td Total Gain
          td Shares
          td Market Value
          td
      tbody
        for position in positions
          include ./position

block scripts
   script( src=asset('/assets/portfolio.js')  )