- function activeClass(path) { if (sd && sd.CURRENT_PATH) return isActive(path) ? 'is-active' : 'is-inactive'; };

mixin tab(href, title)
  a.tab( href= href, class="#{activeClass(href)} tab--#{title}"  )
    = title

nav.tabs
  block tabs
