- function isActive(path) {
-   var currentPath;
-   path = path.replace(/\/$/, ''); // Strip trailing slash
-   currentPath = sd.CURRENT_PATH.replace(/\/$/, ''); // Strip trailing slash
-   return path === currentPath;
- };

- function activeClass(path) { if (sd && sd.CURRENT_PATH) return isActive(path) ? 'is-active' : 'is-inactive'; };

mixin tab(href, title)
  a.tab( href= href, class= activeClass(href) )
    = title

nav.tabs
  block tabs
