extends ../../../components/layout/templates/index
block vars
  - pageTitle = "Log in"
block body
  .container.main-content-container
    form(action="/login" method="POST")
      .field.field--username
        label Username
        input(type="text" name="username")
      .field.field--password
        label Password
        input(type="password" name="password")
      button.button Login
