extends ../../../components/layout/templates/index
block vars
  - pageTitle = "Register"
  - wrapperClass = "wrapper--gradient"
block body
  .container.container__auth
    .v-outer
      .v-inner
        form(action="/signup" method="POST")
          .field.field--username
            label Username
            input(type="text" name="username" required)
          .field.field--username
            label E-mail
            input(type="email" name="email" required)
          .field.field--password
            label Password
            input(type="password" name="password" required)
          .field.field--dob
            label Date of birth (optional)
            input(type="date" name="birthday")
          .field.field--city
            label Current city (optional)
            input(type="text" name="city")
          .field.field--confirm-password
            label Gender (optional)
            select(name="gender")
              each gender in genders
                option(value=gender) #{gender}
          button.button--modal Create account
