.post-footer__signup
  .post-footer__signup__inner
    .v-outer
      .v-inner
        h2 Sign up to receive 10,000 cåin (Å), the Åzone currency, and become part of the exhibition today
        a.button--modal(href="/signup") Start Trading

