.choose-goods
  min-height 100%

.choose-goods-section
  padding-top unit

.choose-goods-grid
  clearfix()
  padding 3%
  height auto

.grid--goods
  clearfix()
  height auto

.goods____grid-item
  column(1/4, cycle: 4)
  height 550px
  margin-bottom 3%
  text-align left
  cursor pointer
  transition all 0.2s ease-in-out-sine
  position relative
  padding 0

  &:hover
    opacity 0.8

  +above(1300px)
    column(1/5, cycle: 5, uncycle: 4)
    text-align left

  +below(900px)
    column(1/3, cycle: 3, uncycle: 4)
    text-align left

  +below(700px)
    column(1/2, cycle: 2, uncycle: 3)
    text-align left

  +below(500px)
    column(1, cycle: 1, uncycle: 2)
    text-align left

.goods__grid-item-button
  padding 0
  text-align left
  cursor pointer
  color inherit
  border-image-source none
  border-image-slice none
  border-image-width none
  border-image-outset none
  border-image-repeat none
  background-color inherit
  box-sizing border-box
  border none

.goods__grid-item__image
  width 100%
  margin-bottom (unit * 0.5)

.goods__grid-item__title
  font-family Atlas Typewriter Bold
  font-size 1.1rem

  +below(700px)
    font-size .9rem

.goods__grid-item__contributor
  margin-bottom (unit * 0.5)

.goods____grid-item
  text-align left

.goods__grid-item__tags
  border 1px solid light-text-color
  padding 0.25rem

goods__grid-item__tags
  ul
    list-style none
    padding 0
    
  li
    float left
    margin-right 0.25rem

.goods__grid-item__price
  position absolute
  bottom unit
  top 0
  right 0
  height 1.25rem
  text-align right
  font-weight bold
  padding 0 0.25rem
  background-color background-blue-color
  color light-text-color

@import 'good'
