.container--goods
  .information-pull-quote
    a
      border-bottom 1px solid light-text-color

.choose-goods
  min-height 100%
  margin-top unit * 4

.choose-goods-section
  padding-top unit

.choose-goods-grid
  clearfix()
  padding 3%
  height auto

.grid--goods
  clearfix()
  height auto

.goods____grid-item
  column(1/3, cycle: 3)
  height 670px
  margin-bottom unit * 5
  text-align left
  transition all 0.2s ease-in-out-sine
  position relative
  padding 0

  +above(1300px)
    column(1/4, cycle: 4, uncycle: 3)
    text-align left

  +below(900px)
    column(1/2, cycle: 2, uncycle: 3)
    text-align left

  +below(500px)
    column(1, cycle: 1, uncycle: 2)
    text-align left

.goods__grid-item-button
  padding 0
  text-align left
  cursor pointer
  color inherit
  border-image-source none
  border-image-slice none
  border-image-width none
  border-image-outset none
  border-image-repeat none
  background-color inherit
  box-sizing border-box
  border none

.goods__grid-item__image
  width 100%
  margin-bottom (unit * 0.5)



.goods____grid-item
  text-align left

  .goods__grid-item__header
    font-size 1.25rem
    margin-bottom unit

    +below(700px)
      font-size .9rem

    .goods__grid-item__title
      font-family Work Sans Medium
      text-rendering optimizelegibility
      margin-bottom (.25 * unit)

  .goods__grid-item__description
    font-size .9rem


  .button--modal
    float left
    display block
    margin-right unit
    font-size 0.8rem
    padding (0.75 * unit) (unit)

  .goods__grid-item__meta
    position absolute
    bottom 0
    font-size 0.8rem
    width 100%


@import 'good'
