.wrapper.wrapper--post-footer
  z-index z-index-wrapper
  padding-bottom 400px
  position relative
.post-footer__signup
  z-index z-index-post-footer
  position relative
  height 400px
  width 100%

.post-footer__signup__inner
  position fixed
  bottom 0
  background green-gradient
  height 400px
  width 100%
  text-align center
  padding unit * 2
  color light-text-color

  h2
    padding (unit * 2) (unit * 8)
    padding-top 0

  .button--modal
    &:hover
      color background-blue-color
      border-color background-blue-color
