extends ../../../components/layout/templates/index
block vars
  - pageTitle = 'Investing'
block body
  include tabs
  .container
    include ./future_circles
    include ../../../components/contract_table/index

block scripts
  script( src=asset('/assets/futures.js') )
