.modal-body--tip.container
  .tip-item
    include ../../../components/news_list/templates/item

  .tip-transactions
    .tip-transactions__list
      each transaction in transactions
        .tip-transaction



