mixin nav-overlay-menu-item(name, href)
  a.nav-overlay-menu-item( href= href )
    span Åzone
    = ' '
    span
      = name

.nav-overlay.js-nav-overlay
  .nav-overlay-backdrop.js-nav-overlay-close
    //-
  nav.nav-overlay-menu
    +nav-overlay-menu-item( 'Home', '/' )
    +nav-overlay-menu-item( 'Investing', '/market' )
    +nav-overlay-menu-item( 'Hot Tips', '/news' )
    +nav-overlay-menu-item( 'Leaders', '/leaderboard' )
    +nav-overlay-menu-item( 'Overview', '/information' )
    +nav-overlay-menu-item( 'Blog', '/blog' )
  a.nav-overlay-close.js-nav-overlay-close
    | ×

nav.nav
  .nav-cell.nav-header
    a.js-nav-overlay-open
      | Åzone
      = ' '
      span= pageTitle
      include ../../../public/images/chevron-down.svg

  .nav-cell
    .nav-mark Å

  if user
    .nav-cell.nav-header
      a( href='/portfolio' )
        | #{user.get('username')} #{user.get('balance')}Å
  else
    .nav-cell.nav-sub
      a( href='/signup' )
        | Trade Now
      a( href='/login' )
        | Sign In
