extends ../../../components/layout/templates/index--exhibition

block body
  .landing-outer
    include ../../../components/index_heatmap/index

block scripts
   script( src=asset('/assets/exhibition_index.js')  )
