extends ../../../components/layout/templates/index--exhibition

block body
  section.contract__tick-chart
    .contract__title #{contract.get('title')}
    .contract__meta
      .contract__value
        .contract__meta__label
          | Current
          br
          | Value
        h1.contract__meta__value #{contract.formattedPrice('bid')}
      .contract__value
        .contract__meta__label
          | Current
          br
          | Gain
        h1.contract__meta__value #{contract.formattedGain()}
    #chart
      //- rendered via client

block scripts
   script( src=asset('/assets/exhibition_tick.js')  )
