extends ../../../components/layout/templates/index--exhibition

block body
  section.contract__news.contract__news--exhibition
    .news-title Latest Hot Tips
    .list--news
      each item, index in news.models
        .news__item
          .news__item__relative-date= item.updatedAtAgo()

          h1.news__item__title= item.get('title')

          .news__item__source-domain= item.sourceDomain()

        hr.news-divider


block scripts
   script( src=asset('/assets/exhibition_tips.js')  )
