
.future-circles.future-circles--bigboard
  margin-top 200px
  margin-left 160px

  .future-circle
    column(1/9, uncycle: 5, cycle: 9)
    height 150px

    &.is-highlighted
      border 1px solid #fff
