
.future-circles.future-circles--bigboard
  margin-top 210px
  margin-left 158px

  .future-circle
    column(1/9, uncycle: 5, cycle: 9)
    height 200px

    &.is-highlighted
      border 1px solid #fff
