
.future-circles.future-circles--bigboard
  margin-top 400px
  margin-left 202px

  .future-circle
    column(1/9, uncycle: 5, cycle: 9)

  .future-circle__circle
    opacity 0.2

  .future-circle__circle.is-highlighted
    opacity 1
