.contract__about--terminal
  position absolute
  left 600px
  top 0

  .contract__copy
    width 70%

  .contract__callsign
    margin-top 20px

  .contract__copy h2
    font-family Work Sans
    font-size 3.4rem
