.contract__about--terminal
  position absolute
  left 700px
  top 10px

  .contract__copy
    width 70%

  .contract__callsign
    margin-top 20px

  .contract__copy h2
    font-family Work Sans
    font-size 3.4rem
