.contract__about--terminal
  position absolute
  left 700px
  top 15px

  .contract__copy
    width 100%

  .contract__callsign
    margin-top 5px

  .contract__copy h2
    font-family Work Sans Light
    font-size 3.6rem
    line-height 3.4rem

  .contract__abstract
    margin-top 245px
    font-family Work Sans Light
    font-size 2.4rem
    line-height 2.8rem
    width 70%
