.is-exhibition
  background #000

  //- 1920 x 1080
  .wrapper
    background #000
    height 1080px
    width 1920px

  .landing-overlay-outer
    text-transform uppercase
    color light-text-color

  .heatmap-key
    position absolute
    color light-text-color

  .heatmap-key__x1
    // left center
    height 100%
    text-align center
    left unit * 2

    h5
      vertically-align()
      transform rotate(-90deg)

  .heatmap-key__x2
    // right center
    height 100%
    text-align center
    right unit * 2

    h5
      vertically-align()
      transform rotate(90deg)

  .heatmap-key__y1
    // bottom center
    bottom unit
    width 100%
    text-align center

    +below(900px)
      bottom 0

  .heatmap-key__y2
    // top center
    top unit * 4
    width 100%
    text-align centers

@import 'bigboard'
@import 'tick'
@import 'tips'
