.is-exhibition
  background #000

  //- 1920 x 1080
  .wrapper
    background #000
    height 1080px
    width 1920px

  .landing-overlay-outer
    text-transform uppercase
    color light-text-color

@import 'bigboard'
@import 'tick'
@import 'tips'
