.terminal-ticker

  .contract-ticker
    height 30vh

  span.ticker-contract-title
    color white

  .ticket-contract-source
    color rgba(255,255,255, 0.5)
    margin-left (unit * 2)

  .terminal-ticker-overlay
    width 100%
    height 100%
    position absolute
    top 0
    left 0

