.is-exhibition
  .contract__tick-chart

  #chart
    margin-top 0
    height 600px

    .focusLine
      stroke rgb(255, 255, 255)
      stroke-width 1
      transition transform 20s

      &.animated
        transform translateX(1920px)

