.is-exhibition
  .contract__title
    position absolute
    left 55px
    top 220px
    color light-text-color
    font-size 3rem

  .contract__meta
    position absolute
    right 30px
    top 70px
    color light-text-color
    text-align right
    .contract__value
      width 200px

    .contract__meta__label
      font-size 2rem

    h1
      font-size 3rem

  #chart
    margin-top 50px
    height 600px

    .tick
      line
        display none
      text
        margin-left -100px

    .focusLine
      stroke rgb(255, 255, 255)
      stroke-width 1
      transition transform 20s

      &.animated
        transform translateX(1920px)


