.terminal-ticker

  .contract-ticker
    height 30vh

  span.ticker-contract-title
    color white
    font-size 4rem

  .marquee-rtl--contract-ticker
    animation marquee-rtl 200s linear infinite

  .ticket-contract-source
    color rgba(255,255,255, 0.5)
    margin-left (unit * 2)
    font-size 4rem

  .ticket-contract-gain
    font-size 4rem

  .terminal-ticker-overlay
    width 100%
    height 100%
    position absolute
    top 0
    left 0

