.contract__news--exhibition
  padding-left 300px
  width 100%
  color light-text-color
  a
    color light-text-color

  .news__item__title
    font-size 4rem
    line-height 4.5rem

  .news__item__source-domain
    color light-text-color !important
    opacity 1
    width 300px
    text-align right


