.call-sign(data-contract_id=contract.get('contract'))
  .call-sign__id #{contract.get('contract')}
  if user
    .call-sign__bubble
      if block_id
        - params = "?block_id=" + block_id
      else
        - params = ""

      if user.canMakeTransaction('buy', contract).success
        a(data-transaction="buy").js-make-transaction Buy @ #{contract.get('ask')}Å
      if user.canMakeTransaction('sell', contract).success
        a(data-transaction="sell").js-make-transaction Sell @ #{contract.get('bid')}Å