.call-sign(data-contract_id=contract.get('contract'))
  .call-sign__id #{contract.get('contract')}
  if user
    .call-sign__bubble
      if user.canMakeTransaction('buy', contract).success
        a.js-make-transaction(data-transaction="buy")
          label Buy
          | #{contract.get('ask')}Å
      if user.canMakeTransaction('sell', contract).success
        a.js-make-transaction(data-transaction="sell")
          label Sell
          | #{contract.get('bid')}Å