extends ../../../components/layout/templates/index--getting-started

block body
  .fullscreen-background.fullscreen-background--one

  .getting-started
    .v-outer
      .v-inner
        .getting-started-copy
          h1 You've been granted 10,000Å to begin investing
          h3 You can buy or sell a future anywhere you see a trade symbol. Hover or tap to reveal the price.

        a.arrow.right-arrow(href="/getting-started/2") →
