extends ../../../components/layout/templates/index--getting-started

block body
  .fullscreen-background.fullscreen-background--two

  .getting-started
    .v-outer
      .v-inner
        .getting-started-copy
          h1 The cost of a trade is a Hot Tip
          h3 You can add your own by providing a web link or promote a tip offered by someone else. You'll be rewarded in cåin (Å) every time someone trades on a tip you provided.

        a.arrow.left-arrow(href="/getting-started/1") ←
        a.arrow.right-arrow(href="/getting-started/3") →
