extends ../../../components/layout/templates/index--getting-started

block body
  .fullscreen-background.fullscreen-background--three

  .getting-started
    .v-outer
      .v-inner
        .getting-started-copy
          h1 You are entering the architechture of a new type of exhibition
          h3 The market will be unpredictable and exciting, and will mutate as contributers begin to tinker with it. Beware and enjoy!
        .getting-started-button
          a.button--modal(href="/investing") Start Trading

        a.arrow.left-arrow(href="/getting-started/2") ←
