.contract-ticker
  height 40vh
  overflow hidden

.marquee-rtl--contract-ticker
  line-height 40vh
  width auto
  white-space nowrap
  padding-left 100%
  animation marquee-rtl 120s linear infinite

.ticker-contract-title
  font-size 2.2rem
  font-family Atlas Typewriter Regular
  margin 0 (unit * 2)
  white-space nowrap
  display inline-block

.ticket-contract-gain
  font-size 2.2rem
  font-family Work Sans Medium
  white-space nowrap
  display inline-block

