extends ../../../components/layout/templates/index

block vars
  - pageTitle = 'Goods'
  - bodyClass = 'is-dark'

block body
  .container.container--goods
    .information-pull-quote
      | Use your cåin (Å) to purchase goods in the form of new features, private content, trading aids, advanced investor access, and more. Claim goods you have already purchased on your investor #[a(href="/portfolio/account.id/goods") profile page].

    .choose-goods.center
      .choose-goods-grid
        .grid.grid--goods
          each good, index in unpurchased_goods
            include item.jade
