.future-circle
  column(1/5, cycle: 5)
  height 300px
  font-family Atlas Typewriter Regular
  font-weight bold
  font-size .8rem
  line-height 1.4rem
  position relative
  display block

  +above(1400px)
    column(1/6, uncycle: 5, cycle: 6)

  +below(800px)
    column(1/4, uncycle: 5, cycle: 4)

  +below(500px)
    column(1/2, uncycle: 4, cycle: 2)

  &:hover
    .future-circle__callsign
      text-decoration underline

.future-circle__callsign
  text-align center
  position relative

  .call-sign
    margin-right 0

.future-circle__title
  text-align center

.future-circle__circle-outer
  height 70%
  width 100%
  display table

.future-circle__circle-inner
  display table-cell
  width 100%
  height 100%
  vertical-align middle

.future-circle__circle
  transition all 0.5s ease-in-out-back
  display block
  content ""
  height auto
  width 0%
  padding-top 0%
  background-color white
  border-radius 50%
  margin 0 auto
