section.about
  margin-bottom 0
  position relative

  .section-header
    border-bottom none

#about__spinning-globe
  width 100%
  height 400px
  margin-top (unit*4)

#future-treemap
  width 100%
  height 90vh
  position relative
  margin-bottom (unit * 2)

#about__spinning-globe-container
  position relative

#about__spinning-globe-future-list
  position absolute
  width 100%
  height 100%
  text-align center
  top 0

  h3
    position absolute
    text-align center
    width 100%
    margin-top 10%
    font-size 4rem

    +below(768px)
      font-size 2rem
