.landing-outer
  height 100vh
  width 100%
  position relative
  margin-top -(unit * 8)

.index-heatmap, .index-overlay-outer
  position absolute
  width 100%
  height 100%
  top 0
  left 0

.index-overlay-outer h2
  vertically-align()
  text-align center
  width 40%
  margin 0 auto