.landing-outer, .landing-overlay-outer
  height 120vh
  width 100%
  position relative
  margin-top -(unit * 8)

.landing-overlay-outer
  position absolute
  height 100vh
  top 0
  margin-top 0
  width 100%

.landing-overlay-outer h2
  vertically-align()
  text-align center
  width 40%
  margin 0 auto