.landing-outer, .landing-overlay-outer
  height 120vh
  width 100%
  position relative
  margin-top -(unit * 8)

.landing-overlay-outer
  position absolute
  height 100vh
  top 0
  margin-top 0
  width 100%
  text-transform uppercase

.landing-overlay-outer h2
  vertically-align()
  text-align center
  width 40%
  margin 0 auto
  font-size 1.2rem
  line-height 1.5rem

.section-header
  padding (unit * 3) 0
  display flex
  font-size 1.8rem
  border-top 1px solid border-color
  border-bottom 1px solid border-color

  +below(768px)
    display block
    font-size 1.2rem

.section-header--span
  width 60%
  margin 0 auto
  padding (unit * 3) 0
  font-size 1.8rem

  > a
    opacity 0.5

  +below(768px)
    width 100%
    font-size 1.2rem

    a
      display block

.section-header__title
  flex 1
  text-align center
  +below(768px)
    text-align left
    text-decoration underline
    margin-bottom unit

.section-header__description
  flex 1
  padding-right 20%
  > a
    opacity 0.5

  +below(768px)
    padding-right 0

@import 'about'
@import 'futures'
@import 'news'
@import 'blog'
@import 'leaderboards'
