.home-list--news
  margin-top unit * 2
  border-left 1px solid border-color
  border-top 1px solid border-color
  clearfix()

.home-news__item
  float left
  width 25%
  height 300px
  padding unit
  position relative
  border-bottom 1px solid border-color
  border-right 1px solid border-color

  &:first-child, &:nth-last-child(2)
    width 50%

    h5
      font-size 28.8px
      font-size 2.2rem
      text-rendering optimizelegibility
      font-weight bold
      margin 0.75em 0
      line-height 1.25em

  +below(768px)
    width 100%
    padding (unit/2)

    &:first-child, &:nth-last-child(2)
      width 100%
      h5
        font-size 1rem

.news__item__source-domain
  position absolute
  right unit
  bottom 0
  width 80px
  text-overflow ellipsis
  overflow hidden
  white-space nowrap
  font-size .8rem
  font-family Work Sans Medium

.news__item__callsign
  position absolute
  left (unit/2)
  bottom 0
