.home-list--news
  margin-top unit * 2
  border-left 1px solid border-color
  border-top 1px solid border-color
  clearfix()

.home-news__item
  float left
  width 25%
  height 300px
  padding unit
  position relative
  border-bottom 1px solid border-color
  border-right 1px solid border-color

  &:first-child, &:nth-last-child(2)
    width 50%

    h5
      h2()

  +below(768px)
    width 50%
    padding (unit/2)

    &:first-child, &:nth-last-child(2)
      h5
        h5()

.news__item__source-domain
  position absolute
  right unit
  bottom 0
  width 80px
  text-overflow ellipsis
  overflow hidden
  white-space nowrap
  font-size .8rem

.news__item__callsign
  position absolute
  left (unit/2)
  bottom 0
