#chart
  font-family Work Sans Medium
  width 95%
  margin 0 auto
  min-height 30vh
  font-size 0.7rem

  +below(768px)
    min-height 30vh

  svg
    clearfix()
    color light-text-color
    fill light-text-color

.axis path, .axis line
  fill none
  stroke light-text-color
  shape-rendering crispEdges

.x.axis path
  display none

.y.axis .tick
  line
    stroke rgba(255, 255, 255, 0.2)
  &:first-child line
    stroke light-text-color
  text:after
    content 'Å'
    display inline-block

path.domain
  display none

.line
  fill none
  stroke light-text-color
  stroke-width 2px
