#chart
  font 10px sans-serif
  width 95%
  margin 0 auto
  min-height 30vh

  +below(768px)
    min-height 30vh

  svg
    clearfix()
    color text-color
    fill text-color

.axis path, .axis line
  fill none
  stroke text-color
  shape-rendering crispEdges

.x.axis path
  display none

.y.axis .tick
  line
    stroke rgba(255, 255, 255, 0.2)
  &:first-child line
    stroke text-color
  text:after
    content 'Å'
    display inline-block

path.domain
  display none

.line
  fill none
  stroke text-color
  stroke-width 2px
