#chart
  font 10px sans-serif
  width 95%
  padding-right unit
  padding-bottom unit * 3

  svg
    clearfix()

.axis path, .axis line
  fill none
  stroke #000
  shape-rendering crispEdges

.x.axis path
  display none

.line
  fill none
  stroke text-color
  stroke-width 2px