@font-face
  font-family Work Sans Hairline
  font-style normal
  src url('/fonts/WorkSansHairline-Regular.woff')

@font-face
  font-family Work Sans Light
  font-style normal
  src url('/fonts/WorkSans-Light.woff')

@font-face
  font-family Work Sans Thin
  font-style normal
  src url('/fonts/WorkSans-Thin.woff')

@font-face
  font-family Work Sans
  font-style normal
  src url('/fonts/WorkSans-Regular.woff')

@font-face
  font-family Work Sans Medium
  font-style normal
  src url('/fonts/WorkSans-Medium.woff')

@font-face
  font-family Work Sans SemiBold
  font-style normal
  src url('/fonts/WorkSans-SemiBold.woff')

@font-face
  font-family Atlas Typewriter Bold
  font-style normal
  src url('/fonts/AtlasTypewriter-Bold-Web.woff')

@font-face
  font-family Atlas Typewriter Regular
  font-style normal
  src url('/fonts/AtlasTypewriter-Regular-Web.woff')

body
  font-family Work Sans Light

h1, h2, h3, h4, h5, h6
  font-family Work Sans Light

strong
  font-weight normal
  font-family Work Sans Medium