footer
  font-family Work Sans Light
  background-color background-blue-color
  min-height 320px
  width 100%
  position absolute
  bottom 0
  left 0
  line-height 1.6rem
  color light-text-color

  a
    color light-text-color

  +below(900px)
    font-size .8rem
    height auto
    padding-bottom unit * 4

.footer-logo
  position absolute
  bottom unit * 2
  left unit * 2

  svg, svg path
    fill light-text-color !important

  +below(900px)
    position static
    padding unit * 2
    svg, svg path
      width 100%

.footer-nav
  position absolute
  top unit * 2
  left unit * 2

  ul
    inline-list unit * 2
    text-transform uppercase

  li.logo svg
    width 15px
    height 25px
    fill light-text-color

  +below(900px)
    bottom 0
    top auto
    left 0
    width 100%
    padding unit

    ul
      font-size .6rem
      inline-list unit
      margin 0 auto

.footer-arena-credit
  width 300px
  position absolute
  right unit * 2
  top unit * 2
  text-transform uppercase

  +below(900px)
    width 100%
    position static
    padding unit

.footer-right-credit
  width 300px
  position absolute
  right unit * 2
  bottom unit * 2
  font-size 0.8rem

  +below(900px)
    width 100%
    position static
    padding unit
