footer
  margin-top (unit * 12)
  background-color background-blue-color
  min-height 320px
  position relative
  line-height 1.6rem
  color light-text-color

.footer-logo
  position absolute
  top unit * 2
  left unit * 2

  h1
    margin 0

.footer-nav
  position absolute
  bottom unit * 2
  left unit * 2

  ul
    inline-list unit * 2
    text-transform uppercase

.footer-arena-credit
  width 300px
  position absolute
  right unit * 2
  bottom unit * 2
  text-transform uppercase

.footer-right-credit
  width 300px
  position absolute
  right unit * 2
  top unit * 2
