.field
  field left

input[type='text'], input[type='password'], , input[type='email']
  input()

label
  label block

.button, button, input[type="submit"]
  button()
  background-color #000
  border 1px solid #000

  &:hover
    background-color #fff
    color #000
    border 1px solid #000