@import 'variables'

.field
  field left

input[type='text'], input[type='password'], input[type='email'], input[type='date']
  input()
  border none
  border-radius 0
  box-shadow none
  border-bottom 2px solid transparent

  &:focus
    background-color transparent
    border none
    box-shadow none
    border-bottom 2px solid darken(green-darker-color, 10%)

label
  label block
  font-family Work Sans Medium
  font-size .8rem
  color darken(green-darker-color, 10%)

a.button, button, input[type="submit"]
  button()
  background-color #000
  border 1px solid #000
  color #fff

  &:hover
    background-color #fff
    color #000
    border 1px solid #000

.button--circle
  height unit * 5
  width unit * 5
  border-radius unit * 5
  background-color green-darker-color
  border none
  font-weight normal
  margin-top unit * 2
  text-transform uppercase
  text-align center
  font-family Work Sans Thin

  &:hover
    background-color darken(green-darker-color, 10%)
    color #fff
    border none

input[type="submit"].button--modal, .button--modal
  transition all 0.3s
  border-radius 0
  background transparent
  border 2px solid lighten(background-blue-color, 20%)
  color lighten(background-blue-color, 20%)
  text-transform uppercase
  font-family Work Sans Light
  padding unit (unit*1.5)
  font-size 1.15rem
  outline none

  &:hover
    color green-darker-color
    border-color green-darker-color

  &:active, &:focus
    color light-text-color
    border-color light-text-color
