@import 'variables'

.field
  field left

input[type='text'], input[type='password'], input[type='email'], input[type='date']
  input()
  border none
  border-radius 0
  box-shadow none
  background-color transparent
  border-bottom 2px solid border-color
  font-family Atlas Typewriter Regular

  &:focus
    background-color transparent
    border none
    box-shadow none
    border-bottom 2px solid darken(border-color, 60%)

::-webkit-input-placeholder
  color light-text-color
:-moz-placeholder
  color light-text-color
::-moz-placeholder
  color light-text-color
:-ms-input-placeholder
  color light-text-color

::-webkit-datetime-edit-text, /* this makes the slashes in dd/mm/yyyy grey */
::-webkit-datetime-edit-day-field[aria-valuetext=blank],
::-webkit-datetime-edit-month-field[aria-valuetext=blank],
::-webkit-datetime-edit-year-field[aria-valuetext=blank]
  color light-text-color

label
  label block
  font-family Work Sans Medium
  font-size .8rem
  color light-text-color

.button--circle
  height unit * 5
  width unit * 5
  border-radius unit * 5
  background-color green-darker-color
  border none
  font-weight normal
  margin-top unit * 2
  text-transform uppercase
  text-align center
  font-family Work Sans Thin

  &:hover
    background-color darken(green-darker-color, 10%)
    color #fff
    border none

input[type="submit"].button--modal, .button--modal
  transition all 0.3s
  border-radius 0
  background transparent
  border 2px solid rgba(255, 255, 255, 0.5)
  color rgba(255, 255, 255, 0.5)
  text-transform uppercase
  font-family Work Sans Light
  padding unit (unit*1.5)
  font-size 1.15rem
  outline none

  &:hover
    color green-darker-color
    border-color green-darker-color

  &:active, &:focus
    color light-text-color
    border-color light-text-color
