normalize-css()

*
  box-sizing border-box

main
  margin-top 80px

.container
  width 80%
  margin 0 auto

.main-content-container
  @extends .container
  margin 0 auto

.flash
  flash()

p
  paragraph()

.section-header
  padding 4px 0
  border-top 1px solid #eee
  border-bottom 1px solid #eee

[class^='js-']
  cursor pointer

@import 'util'
@import 'form'
@import 'nav'
