@import 'variables'

normalize-css()

html, body
  margin 0
  padding 0
  height 100%

.wrapper
  min-height 100%
  position relative
  padding-bottom 320px + (unit * 4)

body
  color text-color
  background background-color

body.is-dark
  background-color background-blue-color
  color light-text-color

*
  box-sizing border-box

main
  padding (unit * 8) 0 0

.container
  padding 0 5%

.flash
  background black
  color #0f0
  padding unit
  font-family Atlas Typewriter Regular
  margin-bottom unit * 2

p
  paragraph()

h1
  h1()

h2
  h2()

h3
  h3()

h4
  h4()

h5
  h5()

h6
  h6()

pre
  @extends .flash

.section-header
  padding 4px 0
  border-top 1px solid border-color
  border-bottom 1px solid border-color

[class^='js-']
  cursor pointer

a
  color text-color
  text-decoration none

section
  clearfix()
  margin-bottom unit * 4

force-hardware-acceleration()
  transform translate3d(0, 0, 0)

prevent-content-shift()
  transform translateZ(0)

@import 'fonts'
@import 'util'
@import 'form'
@import 'nav'
@import 'table'
@import 'footer'