@import 'variables'
@import '../../../node_modules/nib'
@import '../../../node_modules/jeet/stylus/jeet'
@import '../../../node_modules/rupture/rupture/index'

normalize-css()

html, body
  margin 0
  padding 0
  height 100%

.wrapper
  min-height 100%
  position relative
  padding-bottom 320px + (unit * 4)

body
  color text-color
  background background-grey-color
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

body.is-dark
  background-color background-blue-color
  color light-text-color

*
  box-sizing border-box

main
  transition background 0.5s ease-in-out-sine
  padding (unit * 8) 0 0

  +below(900px)
    padding (unit * 4) 0 0

.container
  padding 0 5%

.flash
  background black
  color #0f0
  padding unit
  font-family Atlas Typewriter Regular
  margin-bottom unit * 2

.capitalize
  text-transform capitalize

.center
  text-align center

.v-outer
  height 100%
  width 100%
  display table

.v-inner
  height 100%
  width 100%
  display table-cell
  vertical-align middle

p
  paragraph()

h1
  h1()
  +below(900px)
    h2()

h2
  h2()
  +below(900px)
    h3()

h3
  h3()
  +below(900px)
    h4()

h4
  h4()
  +below(900px)
    h5()

h5
  h5()
  +below(900px)
    h6()

h6
  h6()

pre
  @extends .flash

.section-header
  padding 4px 0
  border-top 1px solid border-color
  border-bottom 1px solid border-color

[class^='js-']
  cursor pointer

a
  color text-color
  text-decoration none

section
  clearfix()
  margin-bottom unit * 4

force-hardware-acceleration()
  transform translate3d(0, 0, 0)

prevent-content-shift()
  transform translateZ(0)

@import 'fonts'
@import 'util'
@import 'animation'
@import 'form'
@import '../../nav/stylesheets/index'
@import 'table'
@import 'footer'
@import 'market_status'
