.market-status
  @extend .flash
  fixed bottom left
  width 100%
  padding (unit * 2) 0
  margin-bottom 0px
  z-index z-index-status
  font-size 1.3rem

.marquee-rtl
  display inline-block
  width 100%
  white-space nowrap
  padding-left 100%
  padding-right 100%
  animation marquee-rtl 20s linear infinite
