nav
  nav 1 #fff #000 true
  top 0
  background #fff
  box-shadow 1px 1px rgba(0,0,0,0.01)
  a
    color #000
    text-decoration none
  h1
    padding 0
    padding-left 10px

.list-group
  a
    color #000
    text-decoration none
    display block
    padding 2px
  a:hover
    background-color #eee