@import 'variables'

nav
  nav 1 background-color text-color true
  top 0
  background background-color
  box-shadow 1px 1px rgba(0,0,0,0.01)
  a
    color text-color
    text-decoration none
  h1
    padding 0
    padding-left 10px

.list-group
  a
    color text-color
    text-decoration none
    display block
    padding 2px
    background-color background-color
    hover-lighten(3%)
