table
  table(striped: false, condensed: true, border: false)
  margin 0
  padding-bottom 18px
  font-family Atlas Typewriter Regular
  thead
    font-size 0.8rem
  &.is-large tbody
    h2()
    font-weight normal
  td
    padding unit * 2
    line-height normal
    border-top 1px solid border-color
    text-align right
  td:nth-child(1)
    text-align left
    padding-left 0
  td:nth-child(2)
    text-align left
  td:last-child
    padding-right 0
  tbody tr
    cursor pointer
  tbody +quantity-at-least(2, tr)
    &:hover
      background-color darken(background-grey-color, 3%)
  tbody tr.is-active
    .is-not-displayed
      display block
  p
    p()
    margin-top unit * 2
    font-size 1.1rem
    font-family Work Sans

  +below(900px)
    tbody tr.is-active .is-not-displayed
      display none
    td
      display block
      padding (unit / 2)
      text-align left
      border-top none
      &:before
        content attr(data-th)": "
        font-family Atlas Typewriter Bold
        color text-color
        text-transform uppercase
    td:nth-child(1)
      padding-left (unit / 2)
    td:last-child
      padding-bottom (unit * 2)
      margin-bottom (unit * 2)
      border-bottom 1px solid border-color
    thead
      display none
    &.is-large tbody
      h5()
      font-weight normal
