background-color = #E4E6EA
border-color = darken(background-color, 10%)
text-color = #2C2D2E
light-text-color = #EEEEEE
green-color = #0AFFCD
blue-color = #235AFF
background-blue-color = #000128
unit = 20px
z-index-menu = 100

.green
  color green-color