background-color = #fff
border-color = darken(background-color, 10%)
text-color = #2c2d2e
green-color = #0AFFCD
blue-color = #235AFF
background-blue-color = #000128
unit = 20px
z-index-menu = 100

.green
  color green-color