background-grey-color = #F0F0F0
border-color = darken(background-grey-color, 10%)
text-color = #141437
light-text-color = #EEEEEE
green-color = #0AFFCD
green-darker-color = #50E3C2
blue-color = #235AFF
background-blue-color = #000128
unit = 20px
z-index-menu = 100
z-index-modal = 400
z-index-status = 500

.green
  color green-color
